html {
  height: 100%;
  width:100%;
}


* {
  /*border: 1px solid black !important; /*to display borders of elements, helps with CSS position and resize*/
  box-sizing:border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

p {
  text-align: justify;
}

.results {
  margin: 10px auto;
  border: 1px solid #aaa;
  box-shadow: 3px 3px 2px #ccc;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  opacity: 1;
  transition: margin-top 0.3s cubic-bezier(0.15, 0.6, 0.32, 1.05),
              opacity 0.3s,
              color 0.2s,
              background 0.2s;
}

.results:hover {
  cursor: pointer;
  background:#2098D1;
  color: #fff;

}

.results:active {
  position: relative;
  left:2px;
  top:2px;
  box-shadow:none;

}

table {
  border-collapse:collapse;
  border: 1px solid black;
  border-top: 1px solid black;
  padding: 5px;
}

thead tr:nth-of-type(1) {
  border: 1px solid black;

}

td {
  border-bottom: 1px solid black;
  padding:5px;
}

th {
  border-right: 1px solid black;
}

h2 {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #999;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  border-bottom: 1px solid #fff;
}

.main {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 5px;
  opacity: 1;
  transition: margin-top 0.5s cubic-bezier(0, 0, 0.2, 1), opacity 0.3s;
}

.titles {
  border: 0;
}

figcaption {
  width: 80%;
  font-style:italic;
}

img {
  max-width:80%;
}

.bb {
  margin: 20px auto;
  text-align: center;
  transition: margin-top 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.bbPadded {
  margin-top: 20%;
  margin-bottom: 20%;
  transition:none;
}

.search {
  display:inline-block;
  margin: 5px;
  border:0;
  border-bottom: 2px solid black;
  transition: width 0.5s cubic-bezier(0, 0.23, 0.4, 1.5) 0.7s;
  width:0;
}

.search:focus {
  outline: 0;
}

.searchExpand {
  width: 200px;
}

.submit, .back-button, .prev, .next {
  margin: 5px;
  background: white;
  border: 1px solid black;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.5s;
  box-shadow: 1px 1px 2px #aaa;
}

.prev, .next {
  /*display: inline-block;
  text-align: center;*/
}

.queryBtns {
  display: block;
  text-align: center;
}

.submit:hover, .back-button:hover, .backToTop:hover,.prev:hover, .next:hover {
  cursor: pointer;
  background:#2098D1;
  color: #fff;
}

.submit:active, .back-button:active,.prev:active, .next:active {
  position: relative;
  left:2px;
  top:2px;
  box-shadow:none;
}

.backToTop {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.1s;
  position: fixed;
  top:0;
  right:0;
  padding:5px;
  background: white;
  border: 1px solid black;
  box-shadow: 1px 1px 2px #aaa;
  font-size: 130%;
}

/*note: put animation classes after main classes for it to work*/
.fadeOut {
  opacity:0;
  transition: opacity 0.2s;
}

.listPad {
  margin-top: 100px;
  transition:none;
}

.gameName {
  text-align: center;
}

.gamePic {
  margin: 50px auto 10px auto;
  display:block;
}

.removeDisplay {
  display:none;
}


/*media queries*/
@media (max-width: 768px) {
  .main {
    max-width:100%;
  }
}
