html {
  height: 100%;
}


* {
  /*border: 1px solid black !important; /*to display borders of elements, helps with CSS position and resize*/
  box-sizing:border-box;
}

p {
  text-align: justify;
}
.results {
  margin: 10px auto;
  border: 1px solid black;
  width: 80%;
  padding: 5px;
}

table {
  border-collapse:collapse;
  border: 2px solid black;
  border-top: 2px solid black;
}

thead tr:nth-of-type(1) {
  border: 2px solid black;

}

td {
  border-bottom: 1px solid black;
}

th {
  border-right: 1px solid black;
}

h2 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

h3 {
  border-bottom: 1px solid black;
}

#mainDiv {
  width: 80%;
  margin: 0 auto;
}

.titles {
  border: 0;
}

figcaption {
  width: 80%;
}

.barAndBtn {
  margin: 20px auto;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
}

#search {
  margin: 5px;
  border:0;
  border-bottom: 1px solid black;
}

#search:focus {
  outline: 0;
}

#submit {
  margin: 5px;
  background: white;
  border: 1px solid black;
  padding: 5px;
}
